<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>News Reply Classification</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- 마스터 CSS -->
    <link rel="stylesheet" href="C:\Users\p173\djangoproject\mastercss.css">
    <style>
      .placename{
        margin-top: 5px;
        background: lightgray;
        text-align: center;
        height: 30px;
      }
      .summary{
        border-left: 2px solid black;
        padding-left : 10px;
      }
      #navernews{
        border-right: 1px solid lightgray;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="navernews">
          <div class="placename">
            <h4 style="line-height: 30px;">해당 기사</h4>
          </div>
          <div class="press_logo">
            <a href="http://news.jtbc.joins.com/" target="_blank" class="nclicks(atp_press)"><img src="https://mimgnews.pstatic.net/image/upload/office_logo/437/2017/12/27/logo_437_38_20171227165827.png" height="35" alt="JTBC" title="JTBC" class=""></a>
	      </div>
          <h3 id="articleTitle" class="tts_head">새해부터 최저임금 8350원, 주는 쪽도 받는 쪽도 불만인데…</h3>
          <div>
            기사입력 <span class="t11">2018-12-31 20:54</span>
            최종수정 <span class="t11">2019-01-01 00:04</span>
            <br><br>
            <div class="summary">
              <strong>월급 환산 174만여원<br>'주휴시간' 포함 최저임금법 시행령 국무회의 통과<br>재계·소상공인 반발…노동계는 '속도조절' 우려</strong>
            </div>
            <br><br>
            [앵커]<br><br>
            내일(1일)부터 최저임금은 지금까지의 시간당 7530원에서 820원을 더한 8350원으로 오릅니다. 월급으로 치면 174만 5150원입니다. 유급 휴일까지 포함해 한 달 노동시간을 209시간으로 계산한 것입니다. 오늘 국무회의에서는 최저임금법 시행 후 이미 30년 동안 적용해온 이 해석을 시행령에 명시했습니다. 가뜩이나 최저임금에 불만이 많았던 재계와 소상공인들은 강하게 반발하고 나섰습니다. 노동계라고 속이 편한 것만은 아닙니다. 정부가 예고해놓은 '속도조절'이 새해부터 본격화할 것이라는 관측에서입니다. 이래저래 최저임금은 앞으로도 '뜨거운 감자'가 될 것으로 보입니다.<br><br>
            주는 쪽과 받는 쪽, 입장에 따라 엇갈리는 현장의 반응을 송승환 기자가 들어봤습니다.<br><br>
            [기자]<br><br>
            서울 목동에서 식당을 운영하는 서복녀 씨는 지난해부터 직원 수를 계속 줄여왔습니다.<br><br>
            [서복녀/식당 주인 : 직원은 처음에는 6명. 지금은 4명인데도 '셋 반'이 되는 거죠. 반나절만 쓰는 거죠.]<br><br>
            매년 오르는 최저임금에 경기 둔화까지 겹친 탓입니다.<br><br>
            [서복녀/식당 주인 : 장사가 잘되면 한 그릇씩만 더 팔면 되잖아요, 사실. 지금은 경기도 너무 안 좋은 상태에서 부담이 크죠.]<br><br>
            시간당 최저임금 8350원 적용을 하루 앞둔 오늘 정부는 국무회의를 열어 최저임금법 시행령 개정안을 의결했습니다.<br><br>
            이로써 최저임금을 산정하는 기준 시간에 법정 주휴시간을 포함하는 것이 명문화 됐습니다.<br><br>
            소상공인연합회는 헌법소원을 청구하는 등 반발하고 나섰습니다.<br><br>
            최저임금 인상에다 시행령 개정으로 부담이 더 커졌다는 주장입니다.<br><br>
            반면 노동계는 법정 주휴시간을 반영하는 것은 당연하며, 약정휴일까지 시행령에 포함했어야 했다는 입장입니다. <br><br>
            [김형석/민주노총 대변인 : 박근혜 정권 시절부터 월 노동시간은 주휴시간을 포함해서 209시간 기준으로 발표를 해왔습니다. 다만 약정휴일 시간을 뺀 것은 문제가 있다고 생각합니다.]<br><br>
            최저임금을 받는 노동자들 사이에서는 기대와 우려가 엇갈립니다.<br><br>
            [김모 씨/카페 아르바이트 직원 : 최저임금이 오르면서 제 입장은 좋은데. 일하는 시간이 줄어들면서 오히려 한 달 월급이 줄어드는 친구들이 많이 생겼어요.]<br><br>
            정부는 자영업자의 부담 완화를 위해 일자리 안정자금을 확대하고, 소상공인 전용 상품권을 발행하는 등 보완책을 신속히 시행하겠다는 입장입니다.<br><br>
            송승환(song.seunghwan@jtbc.co.kr) [영상취재: 김미란 / 영상편집: 강경아]<br><br>

          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="placename">
            <h4 style="line-height: 30px;">댓글 분류기</h4>
          </div><br>
          <div>
            <a href="https://news.naver.com/main/ranking/read.nhn?sid1=&rankingType=popular_memo&oid=277&aid=0004391574&date=20190110&type=1&rankingSectionId=101&rankingSeq=19&m_view=1&includeAllCount=true&m_url=%2Fcomment%2Fall.nhn%3FserviceId%3Dnews%26gno%3Dnews437%2C0000176387%26sort%3Dlikability" target="_blank">유사 기사 댓글 보기</a><br><br>
            분류 기준: <br>
            최저임금 인상에 대해 긍정적인 댓글이면 긍정, 부정적인 댓글이면 부정, 주제와 관련성이 적거나 중립적인 댓글이면 중립으로 분류<br>
          </div><br>
          <div class="test" ng-app="ngRequiredApp" ng-contoller="ngRequiredCtrl">
            <form action="" method="POST">{% csrf_token %}
              <textarea id="reply" name="reply" rows="8" cols="100" required>{{replyText}}</textarea><br>
              <input type="submit" value="분류" ng-disabled="replyForm.$error.required">
            </form>
          </div>
          <div id="result">
            <h3>{{resultText}}</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
